.footer-link {
  color: inherit;
  text-decoration: none;
  display: block;
  margin: 5px 0;
}

.footer-link:hover {
  text-decoration: underline;
}

a {
  color: inherit;
}

a:hover {
  color: #008b2e !important; /* Change hover color */
}

footer {
  padding: 2rem 1rem;
}

a {
  color: inherit;
  text-decoration: none; /* Removes the underline */
}

a:hover {
  text-decoration: none; /* Ensure no underline on hover */
  color: #0073e6; /* Optional: Change hover color */
}
