@tailwind base;
@tailwind components;
@tailwind utilities;

/* Google Fonts imports */
@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@font-face {
  font-family: 'EgonSansCondItalic';
  src: url('../../syt-frontend/public/assets/fonts/EgonSansCond-Italic.woff') format('woff');
  font-weight: normal;
  font-style: italic;
}

body {
  margin: 0;
  font-family: 'Poppins', 'League Spartan', 'Montserrat', sans-serif;;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* Custom scrollbar styling */
/* ::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: rgba(255, 180, 123, 0.2);
}

::-webkit-scrollbar-thumb {
  background-color: #006400;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #006400;
} */

/* Scrollbar for Firefox */
/* * {
  scrollbar-width: thin;
  scrollbar-color: #006400 rgba(255, 180, 123, 0.2);
} */