/* src/pages/Profile/Profile.css */
.profile {
  text-align: center;
  margin-top: 50px;
}

.profile-avatar {
  width: 100px;
  height: 100px;
  margin-bottom: 20px;
}

.profile-name {
  font-weight: bold;
  color: #2e7d32;
  font-family: 'Montserrat', sans-serif;
}

.profile-email {
  color: #757575;
  font-family: 'Poppins', sans-serif;
}

.profile-logout {
  margin-top: 20px;
  background-color: #2e7d32;
  color: white;
}
