.form-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 24px;
  width: 100%;
  margin: 0 auto;
}

.room-container {
  border: 1px solid #ddd;
  border-radius: 30px;
  padding: 24px;
  margin-bottom: 24px;
  width: 90%;
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  
  /* Animation properties */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.room-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.solo-couple-container {
  width: 100%;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  
  /* Animation properties */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.solo-couple-container.visible {
  opacity: 1;
  transform: translateY(0);
}

.remove-button {
  border: 1px solid #ccc !important;
  border-radius: 30px !important;
  padding: 4px !important;
}

.add-buttons-container {
  display: flex;
  justify-content: space-between;
  gap: 24px;
  margin-top: 16px;
}

.add-button {
  flex: 1;
}

.add-room-button {
  display: block !important;
  width: 60% !important;
  max-width: 300px !important;
  margin: 24px auto !important;
}

.age-input-half {
  width: 50% !important; 
  min-width: 280px;
  max-width: 600px;
  
  /* Animation properties */
  opacity: 0;
  transform: translateY(-20px);
  transition: opacity 0.5s ease, transform 0.5s ease;
}

.age-input-half.visible {
  opacity: 1;
  transform: translateY(0);
}

@media (max-width: 600px) {
  .form-container {
    padding: 16px;
  }

  .room-container {
    padding: 16px;
    width: 100%;
  }

  .add-buttons-container {
    gap: 16px;
  }
  
  .add-room-button {
    width: 80% !important;
  }

  .age-input-half {
    width: 80% !important;
  }
}